$dark-color: #171717;
$dark-hover: #000000;
$cta-before: #f3f3f3;
$light-button: #f1f1f1;
$light-color: #ffffff;

@mixin button($color, $bg-color, $hover-color) {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  width: 160px;
  height: 18px;
  padding: 21px 65px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 2px;
  cursor: pointer;
  background-color: $bg-color;
  text-decoration: none;
  color: $color;

  &:hover {
    background-color: $hover-color;
    color: $color;
    text-decoration: none;
  }
}

html {
  font-family: "MarkWebPro", -apple-system, BlinkMacSystemFont, "Helvetica",
    "Roboto", "Noto", "Ubuntu", sans-serif;

  box-sizing: border-box;

  h2 {
    line-height: 1.3;
    font-weight: 700;
    font-size: 3em;
  }

  h3 {
    font-size: 32px;
    line-height: 1.3;
    font-weight: 700;
  }
}

header {
  background-color: $dark-color;
  width: 100%;
  height: 6.313rem;
  border-bottom: 1px solid $light-button ;
  .header-grid-12 {
    margin: 0 44px;
    height: 100%;
    display: flex;
    align-items: center;

    .left-content {
      .header-grid-12__logo {
        a {
          background-image: url(../../images/ffw-logo.svg);
          background-repeat: no-repeat;
        }
      }
    }

    .right-content {
      .header-grid-12__nav {
        color: $light-color;
        height: 100%;

        ul {
          list-style-type: none;
          display: flex;
          justify-content: flex-end;

          a {
            color: $light-color;
            font-size: 18px;
            font-weight: 700;

            &::before {
              content: "/";
              padding-right: 24px;
            }

            &:hover {
              color: $light-button;
              text-decoration: none;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

/*End Header*/

.hero-banner {
  background-color: $dark-color;
  width: 100%;

  &-block {
    position: relative;
    color: $light-color;
    height: 500px;

    &__title {
      padding: 40px;
      display: block;

      span {
        font-size: 24px;
      }

      h2 {
        line-height: 1.3;
        margin-bottom: 32px;
      }

      p {
        width: 540.5px;
        letter-spacing: 1px;
        margin: 0 0 0.71875em;
        margin-bottom: 46px;
      }
    }

    &__button--light a {
      @include button($dark-color, $light-color, $light-button);
    }

    &__img {
      background-image: url(../../images/sample/image1.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 674px;
      height: 500px;
    }
  }
}

// End Hero-banner

.news {
  &-title {
    letter-spacing: 1px;
    line-height: 1.45;
    margin-bottom: 42px;
  }

  &-block-above {
    margin-bottom: 58px;
    .news-grid-4 {
      #news2 {
        background-image: url(../../images/sample/image3.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }

      #news3 {
        background-image: url(../../images/sample/image3.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }

      &__title {
        position: relative;
        background-image: url(../../images/sample/image2.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 200px;
        color: $light-color;
        margin-bottom: 58px;

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(23, 23, 23, 0.35);
          content: "";
        }

        h3 {
          position: absolute;
          padding: 78px 65px 18px 30px;
          right: 0;
          bottom: 0;
          left: 0;
          margin-bottom: 0;
          z-index: 1;
        }

        #news1 {
          padding: 119px 65px 18px 30px;
          right: 0;
          bottom: 0;
          left: 0;
          margin-bottom: 0;
        }
      }

      &__text {
        height: 158px;

        p {
          letter-spacing: 1px;
          line-height: 23px;
          margin-top: 32px;
        }
      }

      &__link {
        a {
          font-size: 18px;
          text-decoration: none;
          color: $dark-color;

          &:hover {
            color: #1565c0;
          }
        }
      }
    }
  }

  &-block-below {
    margin-bottom: 58px;

    .news-grid-4 {
      &__text {
        height: 199px;

        p {
          letter-spacing: 1px;
          line-height: 23px;
          margin-top: 14px;
        }
      }

      #text3 {
        height: 157px;
      }

      &__link {
        a {
          font-size: 18px;
          text-decoration: none;
          color: $dark-color;

          &:hover {
            color: #1565c0;
          }
        }
      }
    }
  }
}

/*End-News*/

.project {
  background-color: $dark-hover;
  color: $light-color;

  &-block {
    padding: 100px 0 80px;
    line-height: 23px;
    height: 697px;

    &-title {
    }

    .project-grid-12 {
      margin-top: 42px;
      height: 386px;

      #prj1 {
        background-image: url(../../images/sample/image5.png);
      }

      #prj2 {
        background-image: url(../../images/sample/image6.png);
      }

      #prj3 {
        background-image: url(../../images/sample/image7.png);
      }

      #prj4 {
        background-image: url(../../images/sample/image8.png);
      }

      .project-grid-3__img {
        position: relative;
        height: 386px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;

        &::before {
          content: "";
          background: linear-gradient(
            -180deg,
            transparent 0%,
            rgb(23, 23, 23) 100%
          );
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        .project-grid-3__title {
          #prjt {
            margin-top: 296px;
          }

          h3 {
            position: absolute;
            z-index: 1;
            padding: 22px 65px 27px 30px;
            margin-top: 255px;
          }
        }
      }
    }
  }
}

/*End-project*/

.cta {
  margin-top: 100px;
  .cta-block {
    margin: 0 42px;
    .cta-title {
      //None
    }
    .cta-grid-12 {
      margin-top: 42px;
      .cta-grid-4 {
        .cta-grid-block {
          background-color: rgba(23, 23, 23, 0.05);
          padding: 49px 33px 51px;
          height: 456px;
          .cta-grid-4__title {
            h3 {
            }
          }
          .cta-grid-4__button--dark {
            box-sizing: inherit;
            margin-top: 68px;
            a {
              @include button($light-button, $dark-color, $dark-hover);
            }
          }
        }
      }
    }
  }
}

.quote {
  &-grid-12 {
    margin-top: 157px;
    margin-left: 57px;
    border-left: 10px solid rgba(23, 23, 23, 0.05);
    &__text {
      padding-left: 20px;
      p {
        width: 1221px;
        font-size: 32px;
        letter-spacing: 1px;
        line-height: 40px;
        margin: 0px 0px 23px;
        font-style: italic;
      }
    }
    &__author {
      padding-left: 20px;
      p {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 1px;
      }
    }
  }
}

.contact {
  background-image: url(../../images/sample/image9.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 556px;
  padding: 100px 0 0 38px;
  margin-top: 148px;

  .contact-grid-12 {
    margin: 0 44px;
    .contact-left {
      &__img {
        background-image: url(../../images/icons/calendar.svg);
      }
      &__title {
        h3 {
          color: $light-color;
          line-height: 40px;
        }
      }
      &__text {
        p {
          color: $light-color;
          letter-spacing: 1px;
        }
      }
    }
    .contact-right {
      .input {
        input {
          width: 358px;
          height: 72px;
          padding: 28px 28px 24px;
          margin: 0 0 54px;
          border-radius: 0;
          border: 2px solid #464646;
          margin-bottom: 45px;
          background-color: #1a1a1a;
          
            &::placeholder {
              color: $light-color;
            }
            &:nth-of-type(2) {
              margin-left: 65px;
            }
        }
        
      }
      textarea {
        width: 826px;
        height: 171px;
        border-radius: 0;
        border: 2px solid #464646;
        margin-bottom: 45px;
        padding: 28px 28px 24px;
        background-color: #1a1a1a;
        &::placeholder {
          color: $light-color;
        }
      }
      &__button {
        a {
          @include button($dark-color, $light-color, $light-button);
          text-align: right;
        }
      }
    }
  }
}

@import "../stylesheets/bootstrap/bootstrap.scss";
