.cta {
    margin-top: 100px;
    .cta-block {
      margin: 0 42px;
      .cta-title {
        //None
      }
      .cta-grid-12 {
        margin-top: 42px;
        .cta-grid-4 {
          .cta-grid-block {
            background-color: rgba(23, 23, 23, 0.05);
            padding: 49px 33px 51px;
            height: 456px;
            .cta-grid-4__title {
              h3 {
              }
            }
            .cta-grid-4__button--dark {
              box-sizing: inherit;
              margin-top: 68px;
              a {
                @include button($light-button, $dark-color, $dark-hover);
              }
            }
          }
        }
      }
    }
  }
  //End Cta