.news {
    &-title {
      letter-spacing: 1px;
      line-height: 1.45;
      margin-bottom: 42px;
    }
  
    &-block-above {
      margin-bottom: 58px;
      .news-grid-4 {
        #news2 {
          background-image: url(../../images/sample/image3.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
        }
  
        #news3 {
          background-image: url(../../images/sample/image3.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
        }
  
        &__title {
          position: relative;
          background-image: url(../../images/sample/image2.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          height: 200px;
          color: $light-color;
          margin-bottom: 58px;
  
          &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(23, 23, 23, 0.35);
            content: "";
          }
  
          h3 {
            position: absolute;
            padding: 78px 65px 18px 30px;
            right: 0;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
            z-index: 1;
          }
  
          #news1 {
            padding: 119px 65px 18px 30px;
            right: 0;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
          }
        }
  
        &__text {
          height: 158px;
  
          p {
            letter-spacing: 1px;
            line-height: 23px;
            margin-top: 32px;
          }
        }
  
        &__link {
          a {
            font-size: 18px;
            text-decoration: none;
            color: $dark-color;
  
            &:hover {
              color: #1565c0;
            }
          }
        }
      }
    }
  
    &-block-below {
      margin-bottom: 58px;
  
      .news-grid-4 {
        &__text {
          height: 199px;
  
          p {
            letter-spacing: 1px;
            line-height: 23px;
            margin-top: 14px;
          }
        }
  
        #text3 {
          height: 157px;
        }
  
        &__link {
          a {
            font-size: 18px;
            text-decoration: none;
            color: $dark-color;
  
            &:hover {
              color: #1565c0;
            }
          }
        }
      }
    }
  }
  
  /*End-News*/